@model IndexViewModel

@{
    ViewBag.Title = "Blog Website";
    ViewBag.Description = "It all about technology";
    ViewBag.Keywords = "blog programming technology photography";
    var base_path = Context.Request.PathBase;
}

<div class="main-img">
    <span class="title">My Personal Blog</span>
</div>

<!--<img src="~/content/static/freecodecamp.PNG" width="500"/> -->

<div class="container">
    @*<ul>
            @foreach (var post in Model)
            {
                <li>
                    <a asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
                        @post.Title
                    </a>
                </li>
            }
        </ul>*@
    @foreach (var post in Model.Posts)
    {
        var image_path = $"{base_path}/Image/{post.Image}";
        <a class="post" asp-controller="Home" asp-action="Post" asp-route-id="@post.Id">
            <img src="@image_path" />
            <span class="title">
                @post.Title
            </span>
        </a>
    }

    <div class="pages">
        @if(Model.PageNumber > 1)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-category="Category"asp-route-pageNumber="@(Model.PageNumber - 1)"><</a>
        }

        @for(var i = 1; i <= Model.PageCount; i++)
        {
            string activeClass = i == Model.PageNumber ? "active" : "";
            <a class="activeClass" asp-controller="Home" asp-action="Index" asp-route-category="Category"asp-route-pageNumber="@i">@i</a>
         }
        
        @if(Model.NextPage)
        {
            <a asp-controller="Home" asp-action="Index" asp-route-category="Category" asp-route-pageNumber="@(Model.PageNumber + 1)">></a>
        }
    </div>
</div>
