@model Post

@{
    ViewBag.Title = Model.Title;
    ViewBag.Description = Model.Description;
    ViewBag.Keywords = $"{Model.Tags?.Replace(",", " ")} {Model.Category}";
    var base_path = Context.Request.PathBase;
}

<h2>@Model.Title</h2>

@* @if (!String.IsNullOrEmpty(Model.Image))
{
    var image_path = $"/Image/{Model.Image}";
    <img src="@image_path" width="500"/>
}

<p>@Model.Body</p> *@

<div class="container">
    <div class="post no-shadow">
        @if (!String.IsNullOrEmpty(Model.Image))
        {
            var image_path = $"{base_path}/Image/{Model.Image}";
            <img src="@image_path" />
            <span class="title">@Model.Title</span@>
        }
    </div>
    <div class="post-body">
        @Html.Raw(Model.Body)
    </div>
</div>